<%- include('partials/header.ejs') %>

<a href="/" class="absolute top-7 left-7 bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-gray-200 active:bg-gray-300 transition cursor-pointer z-30">
    <i class="fa fa-arrow-left text-xl text-black"></i>
</a>

<div class="relative w-full min-h-screen flex flex-col">

  <img src="/assets/background.jpg" class="absolute inset-0 w-full object-cover" alt="Background Image">


  <div class="relative bg-white rounded-t-[50px] w-full flex-1" style="top: 100px;">
    

    <!-- all web content -->
    <div class="flex flex-1">

      <div class="pt-20 p-8 md:mt-[-20px] md:pt-20 md:p-16 lg:mt-[-40px] lg:pt-28 lg:p-24 xl:mt-[-60px] xl:pt-36 xl:p-32">

        <!-- starting content -->
        <div>

          <div class="pb-5">

            <h1 class="font-bold sm:text-4xl text-2xl text-[#463F3A] pb-2">
              tmi(s) about my corner won't hurt
            </h1>

            <!-- card of tmis -->
            <div class="mt-5">

                <!-- first tmi -->
                <div class="bg-[#F4F1EA] rounded-2xl p-6 w-full mb-5">
                    <h1 class="font-bold sm:text-2xl text-xl text-[#8A817C] pb-2 text-right">
                        why booknotes web...
                    </h1>

                    <p class="sm:text-base text-xs">First, the credit is for <a href="https://sive.rs/book" class="font-bold text-[#8A817C] hover:text-[#2e2b29] underline">Derek Siver's</a> Book Notes!</p>
                    
                    <p class="mt-2 text-justify sm:text-base text-xs">
                        I found myself enjoying reading during my long, first-year college break. Reading was a habit I forced on myself, but now I'm enjoying it for leisure -- even thinking each sentence from them that lingers on my mind is a waste for only keeping it with me. That was all I could think about when creating my capstone project for learning about databases -- second credit-- in <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/?couponCode=THANKSLEARNER24" class="font-bold text-[#8A817C] hover:text-[#2e2b29] underline">a course I took.</a>
                    </p>

                    <p class="mt-2 text-justify sm:text-base text-xs">
                        So, I want to archive all the highlighted sentences that moved me the most and try my best to summarize the book into my own sentences.
                    </p>
                </div>

                <!-- second tmi -->
                <div class="bg-[#F4F1EA] rounded-2xl p-6 w-full mb-5">
                    <h1 class="font-bold sm:text-2xl text-xl text-[#8A817C] pb-2 text-right">
                        more about web
                    </h1>
                    
                    <p class="mt-2 text-justify sm:text-base text-xs">
                        The website uses PostgreSQL for the database, book covers and links with OpenLibrary API through Axios, backend with Node.js and Express, and surely a great help from TailwindCSS for the front end.
                    </p>

                    <p class="mt-2 text-justify sm:text-base text-xs">
                        As one of the capstones throughout the path, the website is still lacking a lot and is a work in progress, but at least marks my *solo* in *debuting* a whole website. *sighing
                    </p>
                </div>
            </div>

          </div>

        </div>

        
        </div>

      </div>

    </div>

  </div>
  
</div>

</body>
