<%- include('partials/header.ejs') %>

    
    <!-- background image -->
    <div class="h-screen fixed inset-0 overflow-hidden z-0">
        <img src="/assets/book-1.jpg" alt="Book Cover Background" class="h-full background-blur">
    </div>

    <!-- back button -->
    <a href="/" class="absolute top-7 left-7 bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-gray-200 active:bg-gray-300 transition cursor-pointer z-30">
        <i class="fa fa-arrow-left text-xl text-black"></i>
    </a>

   <!-- Left content -->
    <div class="fixed top-0 left-0 sm:h-screen h-3/4 sm:w-96 w-full z-10 flex flex-col bg-transparent justify-center items-center">

        <div class="flex flex-col flex-grow justify-center sm:ju items-center sm:w-64">

            <div class="flex-none">
                <img src="/assets/book-1.jpg" alt="Book Cover" class="rounded-lg book-cover sm:w-52 w-44">
            </div>
            
            <!-- book name -->
            <h2 class="sm:text-xl text-base font-bold text-white mt-3">A Tale for the Time Being</h2>
                            
            <!-- author -->
            <p class="sm:text-base text-sm text-white">Ruth Ozeki</p>
    
        </div>
    </div>

    
        
    


    




</body>